@font-face {
    font-family: fangzheng;
    src: url('../fonts/fangzheng.TTF');
}

.fangzheng {
    font-family: fangzheng;
}

.dg {
    display: none;
}

.pic {
    position: relative;
    padding: 0;
}

.pic img {
    width: 100%;
}

.pic h1 {
    position: absolute;
    z-index: 1000;
}

.design-nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 25px;
}

.design-nav a.active {
    color: #000;
}

.design-nav a:hover {
    color: #444;
}

.design-nav i {
    font-size: .8em;
    padding: 0 5px;
}

.works {
    min-height: 900px;
    margin-top: 15px;
    padding: 0;
}

.work1 {
    float: left;
    margin: 0 auto;
}

.work1 ul {
    float: left;
    text-align: center;
}

.work1 ul li {
    float: left;
    margin-bottom: 15px;
}

figure img {
    width: 90%;
    border: 1px solid #ccc;
}

.details h3 {
    margin-top: 0;
    font-size: 17px;
    padding-top: 15px;
    width: 100%;
}

.details p {
    line-height: 1.6;
    font-size: 1em;
    width: 100%;
    padding: 0 25px;
    text-align: justify;
}

.details a {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.details a:hover {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

/*返回顶部*/
#scrollUp {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 90px;
    right: 0;
    background: url(../img/top_up.png) no-repeat;
    cursor: pointer;
    opacity: .9;
    display: none;
}

@media screen and (min-width: 320px) {
    .design-nav a {
        font-size: 1em;
    }

    .works {
        width: 100%;
    }

    #c {
        display: none;
    }

    .pic h1 {
        font-size: 1.3em;
        top: 20%;
        left: 20%;
        color: #68251D;
    }
}

@media screen and (min-width: 768px) {
    #c {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .works {
        width: 90%;
    }

    .pic h1 {
        font-size: 1.8em;
        top: 30%;
        left: 30%;
        color: #fff;
    }

    .design-nav a {
        font-size: 1.1em;
    }

    .work1 ul li {
        width: 33%;
        padding-left: 15px;
    }
}

@media screen and (min-width: 992px) {
    .work1 ul li {
        width: 25%;
    }

    .pic h1 {
        font-size: 2em;
        top: 35%;
        left: 32%;
    }
}

@media screen and (min-width: 1200px) {
    .pic h1 {
        font-size: 2.5em;
        top: 35%;
        left: 32%;
    }
}

@media screen and (min-width: 1400px) {
    .pic h1 {
        font-size: 2.9em;
        top: 37%;
        left: 33%;
    }
}

@media screen and (min-width: 1600px) {
    .pic h1 {
        font-size: 3em;
        left: 35%;
    }
}