.pic {
    padding: 0;
    position: relative;
}

.pic img {
    width: 100%;
}

.normal-ul {
    position: relative;
    list-style: disc;
    left: 15px;
}

@media screen and (min-width: 320px) {
    #canvas {
        display: none;
        overflow: hidden;
    }

    /*主体*/
    .team div {
        margin-bottom: 40px;
    }

    .team div h1 {
        margin-bottom: 20px;
        font-size: 1.5em;
    }

    .team div h4 {
        font-size: 1.2em;
        padding: 15px 0;
    }

    .team div h4 span {
        padding-right: 10px;
        font-size: 1.5em;
        color: #C20001;
    }

    .team div h2 {
        font-size: 1.3em;
    }

    .team div p {
        line-height: 28px;
    }

    .team div img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    #canvas {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #338599;
    }

    .team div h1 {
        font-size: 2em;
    }

    .team div img {
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .team div p {
        font-size: 1.2em;
    }
}